@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/*{ 
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
    font-family: Microsoft Yahei;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
}*/

html {
      min-height: 100%;
      overflow: hidden;
}

/*html, body{
    width: 100%;
    font-size: 20px;
    background: #333;
}*/

body {
      height: calc(100vh - 8em);
      padding: 4em;
      color: rgba(255, 255, 255, 0.75);
      font-family: 'Anonymous Pro', monospace;
      background-color: rgb(25, 25, 25);
}

.logo {
      line-height: 60px;
      position: fixed;
      left: 0;
      top: 5px;
      margin: 5px 26px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}

button{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button{
    background: rgba(0,0,0,0.5);
    color: #fff;
    width: 200px;
    height: 60px;
    font-size: 15px;

    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
}

.cloudfloating
{
    animation: cloudfloating 120s linear 0s infinite forwards;
    -moz-animation: cloudfloating 120s linear 0s infinite forwards;
    -webkit-animation:cloudfloating 120s linear 0s infinite forwards;
    -o-animation: cloudfloating 120s linear 0s infinite forwards;
    background: url(../image/bg_1.jpg);
    width: 3840px;
    height: 747px;
    left: 0;
    top: 0;
    position: absolute;
}
.cloudfloating-60
{
    animation: cloudfloating 60s linear 0s infinite forwards;
    -moz-animation: cloudfloating 60s linear 0s infinite forwards;
    -webkit-animation: cloudfloating 60s linear 0s infinite forwards;
    -o-animation: cloudfloating 60s linear 0s infinite forwards;
}
@keyframes cloudfloating
{
    0%{transform: translateX:(0);}
    100%{transform: translateX(-1920px);}
}
@-moz-keyframes cloudfloating
{
    0%{transform: translateX:(0);}
    100%{transform: translateX(-1920px);}
}
@-webkit-keyframes cloudfloating
{
    0%{transform: translateX:(0);}
    100%{transform: translateX(-1920px);}
}
@-o-keyframes cloudfloating
{
    0%{transform: translateX:(0);}
    100%{transform: translateX(-1920px);}
}

.wrap {
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     overflow: hidden;
}

#ball {
    width: 15px;
    height: 15px;
    background: none;
    border: 5px solid white;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -10px;
    pointer-events: none;
}

#footer {
    height: 13px;
    line-height: 13px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #333;
    color: #fff;
    font-family: Arial;
    font-size: 5px;
    letter-spacing: 1px;
}

.earth {
    width: 300px;
    height: 300px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
}

.earth:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: -20px -20px 50px 2px #000 inset;
  border-radius: 50%;
}

.earth > div {
  width: 305%;
  height: 100%;
  animation: spin 30s linear 0s infinite forwards;
  background: url(../image/map1.jpg);
  background-size: cover;
}

.line {
      position: relative;
      top: 100%;
      left: 240%;
      width: 16em;
      margin: 0 auto;
      border-right: 2px solid rgba(255, 255, 255, 0.75);
      font-size: 180%;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;transform: translateY(-50%);
}

/*Animation*/

.anim-typewriter {
      animation: typewriter 4s steps(40) 1s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
      from {
            width: 0;
      }
      to {
            width: 14em;
      }
}

@keyframes blinkTextCursor {
      from {
            border-right-color: rgba(255, 255, 255, 0.75);
      }
      to {
            border-right-color: transparent;
      }
}

.div-a{
    position: absolute; 
    left: 30px; 
    top: 30px; 
    background: rgba(255, 255, 255, 0); 
    width: 200px; 
    height: 100px
} 

@keyframes spin {
  to {
    transform: translateX(-63.5%);
  }
}

button:before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}

button:after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translateX(-100px) scaleX(-15deg);
}

button:hover {
  background: #025ed6;
  cursor: pointer;
}

button:hover:before {
   transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
}

button:hover:after {
   transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
}﻿